:root {
    --color-primary: #123456;
    --color-secondary: #FFF;
    --azul-royal: #144480;
    --fundo-card-timer: rgba(20, 68, 128, 0.30);
    --lils: #B872FF;
    --linear-botes: linear-gradient(180deg, #B872FF 0%, #144480 100%);
    --azul-profundo: #01080E;
    --fundo-card: rgba(255, 255, 255, 0.50);
    --fundo-card-concludo: rgba(0, 244, 191, 0.40);
}

[data-contexto="foco"] {
    --main-bg-color: linear-gradient(180deg, #8B1FF8 0%, #041832 48.44%, #01080E 100%);
}

[data-contexto="descanso-curto"] {
    --main-bg-color: linear-gradient(180deg, #0F725C 0%, #041832 48.44%, #01080E 100%);
}

[data-contexto="descanso-longo"] {
    --main-bg-color: linear-gradient(180deg, #1875E9 0%, #041832 48.44%, #01080E 100%);
}

* {
    box-sizing: border-box;
    max-width: 100%; 
}

html {
    background: var(--main-bg-color);
    min-height: 100vh;
    font-size: 10px;
}

body {
    min-height: 100vh;
    background: url("./imagens/pattern.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Unbounded', cursive;
}

.hidden {
    display: none !important;
}

.app__logo-figure {
    display: flex;
    justify-content: center;
    padding: 4rem 0;
}

.app__section-banner-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap-reverse;
}

.app__title {
    line-height: 150%;
    font-size: 5.2rem;
    color: var(--color-secondary);
    font-weight: 200;
    max-width: 46rem;
}

.app__title-strong {
    font-weight: 600;
}

.app__image-figure, .app__image {
    max-width: 100%;
    height: auto;
    display: block;
}

.app__section-card-container {
    display: flex;
    justify-content: center;
    padding: 0 2rem;
}

.app__card {
    border-radius: 3.2rem;
    border: 0.2rem solid var(--azul-royal);
    background: var(--fundo-card-timer);
    padding: 2.4rem;
    margin: 4rem 0;
    width: 100%;
    max-width: 59rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app__card-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    flex-wrap: wrap;
}

.app__card-button {
    font-family: Montserrat;
    font-size: 1.6rem;
    background: none;
    padding: 0.8rem;
    color: var(--color-secondary);
    border: none;
    cursor: pointer;
    outline: inherit;
    white-space: nowrap;
}

.app__card-button.active {
    border-radius: 0.8rem;
    background: var(--azul-royal);
    font-weight: 600;
}

.app__card-timer {
    color: var(--color-secondary);
    text-align: center;
    font-family: Unbounded;
    font-size: 10rem;
    font-weight: 700;
    margin: 3.2rem 0;
}

.app__card-list-label {
    color: var(--color-secondary);
    font-family: Montserrat;
    font-size: 1.8rem;
    font-weight: 400;
}

.app__card-primary-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.app__card-primary-button {
    padding: 0.8rem;
    width: 12rem;
    color: var(--color-secondary);
    border: none;
    cursor: pointer;
    border-radius: 3.2rem;
    background: var(--linear-botes);
    margin-top: 1.6rem;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 10px;
}

.app__footer {
    display: flex;
    width: 100%;
    padding: 2.8rem 2rem;
    justify-content: center;
    align-items: center;
    background: #010B15;
}

.app__footer-text {
    color: rgba(182, 182, 182, 0.8);
    text-align: center;
    font-family: Montserrat;
    font-size: 1.4rem;
    line-height: 150%;
}

.quadrado{
    width: 15px; 
    height: 15px; 
    background-color: #ffffff; 
    display: inline-block; 
    border-radius: 1px;
}

.toggle { cursor: pointer; display: inline-block; }
.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 1.6rem;
    width: 5.8rem;
    height: 3.2rem;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}
.toggle-switch:before, .toggle-switch:after { content: ""; }
.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
    transition: left 0.25s;
}
.toggle:hover .toggle-switch:before { background: linear-gradient(to bottom, #fff 0%, #fff 100%); }
.toggle-checkbox:checked + .toggle-switch { background: var(--lils); }
.toggle-checkbox:checked + .toggle-switch:before { left: 3rem; }
.toggle-checkbox { position: absolute; visibility: hidden; }

.dropdown-container { position: relative; }
.app__section-task-header__ul {
    display: none;
    position: absolute;
    z-index: 10;
    top: 100%;
    right: 0;
    min-width: 24rem;
    padding: 1.6rem;
}
.app__section-task-header__ul:hover,
.app_button-more:hover ~ .app__section-task-header__ul {
    display: block;
    text-align: right;
    border-radius: 0.8rem;
    border: 0.2rem solid var(--azul-royal);
    background: #1B293B;
}
.app__section-task-header__li { margin: 1.6rem 0; }
.app__section-task-header__li__button {
    width: 100%;
    border: none;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #fff;
    gap: 0.8rem;
}

.app__section-task-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem;
}

.app__section-task-content {
    width: 100%;
    max-width: 59rem;
    color: #FFF;
}

.app__section-active-task {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 4rem 0;
    border-bottom: 1px solid #144480;
    margin-bottom: 4rem;
}

.app__section-task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.app_button-edit, .app_button-more, .app_button-remove {
    border: none;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    align-items: center;
}

.app__form-add-task {
    padding: 1.6rem;
    border-radius: 0.8rem;
    background: var(--fundo-card);
    font-family: Montserrat;
    margin-bottom: 2rem;
}

.app__form-textarea {
    width: 100%;
    border-radius: 0.8rem;
    padding: 0.8rem;
    background: #98A0A8;
    font-size: 1.8rem;
    resize: vertical;
}

.app__form-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.app__form-footer .splitter { flex-grow: 1; }
.app__form-footer__button {
    border: none;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    align-items: center;
    color: var(--azul-profundo);
    font-family: Montserrat;
    font-size: 1.6rem;
    font-weight: 600;
    gap: 0.8rem;
}

.app__form-footer__button--confirm {
    border-radius: 3.2rem;
    padding: 0.8rem 2.4rem;
    color: #fff;
    background: var(--azul-profundo);
}

.app__button--add-task {
    border: none;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    color: var(--lils);
    border-radius: 3.2rem;
    border: 0.2rem solid var(--lils);
    width: 100%;
    margin-top: 2rem;
    padding: 1.6rem;
    font-size: 1.8rem;
    font-weight: 600;
}

.app__section-task-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-radius: 0.8rem;
    background: var(--fundo-card);
    margin-bottom: 0.8rem;
    padding: 1.6rem;
    cursor: pointer;
}

.app__section-task-list-item-description {
    flex-grow: 1;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--azul-profundo);
    font-family: Montserrat;
    word-break: break-word;
}

.app__section-task-list-item-complete.app__section-task-list-item {
    background: var(--fundo-card-concludo);
    cursor: inherit;
}
.app__section-task-list-item-active.app__section-task-list-item {
    border: 4px solid #FFF;
}
.app__section-task-list-item-complete .app__section-task-icon-status circle {
    fill: #00F4BF;
}

@media (max-width: 1024px) {
    .app__section-banner-container {
        justify-content: center;
        text-align: center;
    }
    
    .app__title {
        font-size: 4rem;
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    html {
        font-size: 9px; 
    }

    .app__section-banner-container {
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .app__title {
        font-size: 3rem;
        text-align: center;
    }

    .app__card {
        padding: 1.5rem;
        margin: 2rem 0;
    }

    .app__card-timer {
        font-size: 6rem; 
        margin: 2rem 0;
    }

    .app__card-list {
        gap: 1rem;
    }

    .app__card-button {
        font-size: 1.5rem;
        padding: 0.5rem;
    }

    .app__section-active-task {
        justify-content: center;
        gap: 1rem;
    }
    
    .app__form-footer {
        justify-content: center;
    }
    
    .app__form-footer__button {
        width: 100%;
        justify-content: center;
        margin-bottom: 1rem;
    }
    
    .app__form-footer .splitter {
        display: none;
    }
}